@model  BeautySalonManagement.Web.Mvc.Controllers.ViewModels.EquipmentViewModel

@{
    ViewBag.Title = "编辑器械";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>编辑器械</h2>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
    @Html.Partial("DisplayTemplates/BootstrapErrorSummary")
<div class="control-group">
	@Html.LabelFor(equipment => equipment.Name)
	@Html.TextBoxFor(equipment => equipment.Name)
	@Html.ValidationMessageFor(equipment => equipment.Name)

</div>
<div class="control-group">
	@Html.LabelFor(equipment => equipment.Description)
	@Html.TextBoxFor(equipment => equipment.Description)
	@Html.ValidationMessageFor(equipment => equipment.Description)
</div>
<div class="control-group">
	@Html.SubmitButton("Save", "保存", new { @class = "btn btn-primary" }) @(Html.ActionLink<EquipmentController>(x => x.Index(null, null), "取消", new { @class = "btn" }))</div>
}
