@using MvcContrib.UI.Grid
@model MvcContrib.Pagination.IPagination<BeautySalonManagement.Domain.Articles.Equipment>

@{
	ViewBag.Title = "设备列表";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
<div  style="text-align: right;">	@(Html.ActionLink<EquipmentController>(x => x.Create(), "新增器械", new { @class = "btn btn-primary" }))</div>
@Html.Grid(Model).Empty("没有数据").Attributes(@class => "table table-striped").Columns(column =>
{
	column.For(x => x.Id).Visible(false).Sortable(true);
	column.For(x => x.Name).Named("器械名称").Sortable(true);
	column.For(x => x.Description).Named("描述").Sortable(true);

	column.Custom(x => @Html.ActionLink<EquipmentController>(action => action.Edit(x.Id), "编辑"));
	column.Custom(x => @Html.ActionLink<EquipmentController>(action => action.Delete(x.Id), "删除"));
}).Sort(ViewBag.Sort)
@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItems).Options(x => x.MaxNrOfPages(5).DisplayTemplate("BootstrapPagination"))