@using BeautySalonManagement.Domain.Peoples
@model BeautySalonManagement.Web.Mvc.Controllers.ViewModels.PersonViewModel
<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "yy/mm/dd", changeMonth: true, changeYear: true, yearRange: "c-60:c" });
    });
</script>


<div class="control-group">
    @Html.LabelFor(people => people.Name)
    @Html.EditorFor(people => people.Name)
    @Html.ValidationMessageFor(people=>people.Name)
</div>
<div class="control-group">
    @Html.LabelFor(people => people.GenderName)
    @Html.DropDownListFor(people => people.GenderName, new SelectList(Gender.Items, "Name", "Desc", (Model != null) ? Model.GenderName : Gender.Female.Name))
</div>
<div class="control-group">
    @Html.LabelFor(people => people.Birthday)
    @Html.TextBoxFor(people => people.Birthday, new { @class = "date" })
    @Html.ValidationMessageFor(people=>people.Birthday)
</div>
<div class="control-group">
    @Html.LabelFor(people => people.MobilePhone)
    @Html.TextBoxFor(people => people.MobilePhone)
    @Html.ValidationMessageFor(people=>people.MobilePhone)
</div>
<div class="control-group">
    @Html.LabelFor(people => people.Address)
    @Html.TextBoxFor(people => people.Address)
    @Html.ValidationMessageFor(people=>people.Address)
</div>

