@using BeautySalonManagement.Domain.Peoples
@model BeautySalonManagement.Web.Mvc.Controllers.ViewModels.PersonViewModel
<script>
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "yy/mm/dd", changeMonth: true, changeYear: true, yearRange: "c-60:c" });
    });
</script>
@if (Model != null)
{
    <div class="control-group">
        @Html.HiddenFor(people => people.Id)
    </div>
}
<div class="control-group">
    @Html.LabelFor(people => people.Name)
    @Html.EditorFor(people => people.Name)
</div>
<div class="control-group">
    @Html.LabelFor(people => people.GenderName)
    @Html.DropDownListFor(people => people.GenderName, new SelectList(Gender.Items, "Name", "Desc", (Model != null) ? Model.GenderName : Gender.Female.Name))
</div>
<div class="control-group">
    @Html.LabelFor(people => people.Birthday)
    @Html.TextBoxFor(people => people.Birthday, new { @class = "date" })
</div>
<div class="control-group">
    @Html.LabelFor(people => people.MobilePhone)
    @Html.TextBoxFor(people => people.MobilePhone)
</div>
<div class="control-group">
    @Html.LabelFor(people => people.Address)
    @Html.TextBoxFor(people => people.Address)
</div>
<div class="control-group">
    @Html.LabelFor(people => people.Password)
    @Html.PasswordFor(people => people.Password,new{value=Model==null?string.Empty:Model.Password})
</div>

    <div class="control-group">
        @Html.LabelFor(people => people.ConfirmPassword)
        @Html.PasswordFor(people => people.ConfirmPassword,new {value=Model==null?string.Empty:Model.ConfirmPassword})
    </div>
