@model BeautySalonManagement.Web.Mvc.Controllers.ViewModels.PersonViewModel
<div class="control-group">
    @Html.LabelFor(people => people.Password)
    @Html.PasswordFor(people => people.Password, new { value = Model == null ? string.Empty : Model.Password })
    @Html.ValidationMessageFor(people=>people.Password)
</div>

    <div class="control-group">
        @Html.LabelFor(people => people.ConfirmPassword)
        @Html.PasswordFor(people => people.ConfirmPassword, new { value = Model == null ? string.Empty : Model.ConfirmPassword })
        @Html.ValidationMessageFor(people=>people.ConfirmPassword)
    </div>